<div class="row">
  <div class="col s12">
    <div class="card grey lighten-5">
      <div class="card-content">
        <span class="badge teal lighten-2 white-text">ID: {{content.id}}</span>
        <span class="card-title truncate">{{content.name}}</span>
        <p>{{content.birthdate | date: 'dd-MM-yyyy HH:mm'}}</p>
        <ul class="right toolbarcard">
          <li><a [routerLink]="['/edit/', content.id]" class="btn-floating waves-effect waves-light red"><i class="material-icons">create</i></a></li>
          <li><a (click)="deletePerson(content.id)" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

