<div class="row">
  <div class="col s12 m8 l6 xl5">
    <div class="card grey lighten-5">
      <div class="card-content">
        <form #newPersonForm="ngForm" (ngSubmit)="(createPerson())">
          <span class="badge teal lighten-2 white-text">ID auto</span>
          <div class="input-field">
            <input type="text" data-length="10" placeholder="name" class="validate" required name="name" #name="ngModel"
            [(ngModel)]="content.name">
            <input type="text" data-length="10" placeholder="birthdate" class="validate" required name="birthdate" #birthdate="ngModel"
            [(ngModel)]="content.birthdate">
          </div>
          <ul class="right toolbarcard">
            <li><a routerLink="/list" class="btn-floating waves-effect waves-light red"><i
                  class="material-icons">navigate_before</i></a></li>
            <li><button type="submit" class="btn-floating waves-effect waves-light red"><i class="material-icons">save</i></button></li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
